src/*.exe
src/legitcoin
src/legitcoind
src/test_legitcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.legitcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
legitcoin-qt
Legitcoin-Qt.app

# Unit-tests
Makefile.test
legitcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
